body {
    font-family: 'Arial', sans-serif;
    background: #003e68;  
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff7e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #00eeff;
}

input[type="file"] {
    margin: 15px 0;
}

#preview {
    margin: 15px 0;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="range"] {
    width: 80%;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #00f7ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0011ff;
}

.container{
    background-color: black;
    color: rgb(0, 247, 255);
}

#ratingValue {
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
}

h2{
    color:#00d9ff 
}
